<footer class="main-footer">
  <div class="stack-column">
    <a href="/license/">CC BY-SA 4.0 / MIT</a>
    <div class="stack-row">
      <a class="icon" href="http://github.com/nathanjent">
        <img src="/static/github_icon.svg" alt="Github" />
      </a>

      <a class="icon" href="https://socel.net/@nathanjent">
        <img src="/static/mastodon_icon.svg" alt="Mastodon" />
      </a>

      <a class="icon" href="https://replit.com/@nathanjent">
        <img src="/static/replit_icon.svg" alt="Replit" />
      </a>

      <a class="icon" href="https://nathanjent.itch.io/">
        <img src="/static/itchio_icon.svg" alt="itch.io" />
      </a>
    </div>
  </div>
</footer>
