# loads index.cgi at root of site

RewriteEngine On
# Rewrite when no file is requested
RewriteCond %{REQUEST_FILENAME} !-f
# Rewrite all requests to insert cgi executable/script
RewriteRule ^(.*)$ /index.cgi/$1 [L]
