SITE_NAME=mywebsite
DATABASE_PASS=dbpass
DATABASE_USER=dbuser
DATABASE_ROOT_PASS=12345678
DATABASE_URL=mysql://<database_user>:<database_pass>@localhost:3306/test
FTP_HOST=ftp_host
FTP_USERNAME=ftp_username
