$brown0: #be4a2f;
$brown1: #d77643;
$brown2: #ead4aa;
$brown3: #e4a672;
$brown4: #b86f50;
$brown5: #733e39;
$brown6: #3e2731;
$orange0: #a22633;
$orange1: #e43b44;
$orange2: #f77622;
$orange3: #feae34;
$orange4: #fee761;
$green0: #63c74d;
$green1: #3e8948;
$green2: #265c42;
$green3: #193c3e;
$blue0: #124e89;
$blue1: #0099db;
$blue2: #2ce8f5;
$white: #ffffff;
$gray0: #c0cbdc;
$gray1: #8b9bb4;
$gray2: #5a6988;
$gray3: #3a4466;
$gray4: #262b44;
$gray5: #181425;
$pink0: #ff0044;
$pink1: #68386c;
$pink2: #b55088;
$pink3: #f6757a;
$pink4: #e8b796;
$pink5: #c28569;
