# loads index.cgi at root of site
RewriteEngine On
# Don't interfere with static files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.cgi/$1

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^\..+$ - [F,L]
